#Inputs {
    display: flex;
    border: 2px solid blue;
    flex-flow: column;
    width: 700px;
    height: auto;
    margin: auto;
    align-items: center;
    text-align:center;
}

#divInputs {
    align-content: center;
    margin-top: 15px;
}


label {
    padding-top: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color:darkslateblue;
    text-align:center;
}
.box0, .box {
    margin: auto;
    color: grey;
}